<div class="hero common-hero">
  <div class="container">
    <div class="row" style="height: 120px;"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="hero-ct">
          <h1>{{ pageTitle + ": " + producto.nombre }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-single pelicula_list">
  <div class="container">
    <div class="producto-item-style-2" *ngIf="producto">
      <div class="card-header"></div>
      <div class="container">
        <div class="producto-item">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="title-in">
                <div class="row">
                  <div
                    class="cate"
                    *ngFor="let clasificacion of producto.classifications"
                  >
                    <span class="yell"
                      ><a href="#">{{ clasificacion.nombre }}</a></span
                    >
                  </div>
                </div>
                <h1>
                  <a href="#">{{ producto.nombre }}<br /></a>
                </h1>
                <div class="mv-details">
                  <ul class="mv-infor">
                    <li>
                      Tipo de Producto: {{ producto.product_type.nombre }}
                    </li>
                    <li>Tamaño: {{ producto.tamano_presentacion }}</li>
                    <li>
                      Descripción:
                      <p class="describe">{{ producto.descripcion }}</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="mv-img-2">
                <a href="#"
                  ><img
                    class="center-block img-responsive"
                    [style.width.px]="200"
                    [style.margin.px]="2"
                    [src]="producto.imagenURL"
                    [title]="producto.nombre"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-0">
          <div>
            <a href="/producto/lista" class="redbtn"><i class="ion-chevron-left"></i>Atrás</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/src/js/custom.js"></script>
<script src="/src/jsplugins.js"></script>
<script src="/src/jsplugins2.js"></script>
<script src="/src/jscustom.js"></script>
