<footer class="footer fixed-bottom">
    <div class="col-md-8  col-sm-12 copyright pull-right">
      <p>

        &copy;
        ISW-811,
        {{ test | date: "yyyy" }}, Universidad Técnica Nacional
        <a href="https://www.utn.ac.cr" target="_blank">UTN</a>
      </p>
    </div>
  <!-- <div class="row links">
    <div class="col-md-4"></div>
    <div class="col-md-1"><a href="#">Autocine</a></div>
    <div class="col-md-1"><a href="#">Blog</a></div>
    <div class="col-md-1"><a href="#">Licenses</a></div>
    <div class="col-md-1"><a href="#">Conózcanos</a></div>
    <div class="col-md-4"></div>
  </div> -->
</footer>
