<footer class="footer fixed-bottom">
  <div class="row">
    <div class="row col-md-4 social">
      <div class="col-md-1"></div>
      <div class="col-md-4">Síguenos:</div>
      <div class="col-md-1"><a class="fab fa-facebook" role="button"></a></div>
      <div class="col-md-1"><a class="fab fa-twitter" role="button"></a></div>
      <div class="col-md-1"><a class="fab fa-instagram" role="button"></a></div>
    </div>
    <div class="col-md-8 copyright pull-right">
      <p>
        &copy;
        {{ test | date: "yyyy" }}, Universidad Técnica Nacional
        <a href="https://www.utn.ac.cr" target="_blank">UTN</a> ISW-811.
      </p>
    </div>
  </div>
  <!-- <div class="row links">
    <div class="col-md-4"></div>
    <div class="col-md-1"><a href="#">Autocine</a></div>
    <div class="col-md-1"><a href="#">Blog</a></div>
    <div class="col-md-1"><a href="#">Licenses</a></div>
    <div class="col-md-1"><a href="#">Conózcanos</a></div>
    <div class="col-md-4"></div>
  </div> -->
</footer>
