.footer {
  background: #071527;
  padding: 0 0 0px 0;
  color: #fff;
  font-size: 30px;
  bottom: 0;
}
.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
#footer .container #copyright{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#footer .copyright {
  border-top: 1px solid #0f2f57;
  text-align: center;
  padding-top: 10px;
}
/*
#footer .container .social{
  width: 25%;
  align-items: flex-end; 
}*/



