<header class="ht-header">
  <div class="container fixed-top">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="/home">{{ pageTitle }}</a>
        </div>
        <div
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="sr-only">Toggle navigation</span>
          <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <a href="index-2.html"
            ><img
              class="logo"
              src="images/logo1.png"
              alt=""
              width="119"
              height="58"
          /></a>
        </div>
        <div class="collapse navbar-collapse flex-parent" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a
                class="nav-link"
                routerLink="/cartelera"
                routerLinkActive="active"
                >Cartelera
              </a>
            </li>
            <li class="nav-item active">
              <a
                class="nav-link"
                routerLink="/peliculas"
                routerLinkActive="active"
                >Películas
              </a>
            </li>
            <li class="nav-item active">
              <a
                class="nav-link"
                routerLink="/productos"
                routerLinkActive="active"
                >Productos
              </a>
            </li>
            <li class="nav-item active">
              <a
                class="nav-link"
                routerLink="/ubicaciones"
                routerLinkActive="active"
                >Ubicaciones
              </a>
            </li>
            <li *ngIf="currentUser != null && rol.nombre == 'administrador'" class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                ariaspopup="true"
                aria-expanded="false"
              >
                Mantenimientos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/productos/lista">Productos</a>
                <a class="dropdown-item" href="/peliculas/lista">Peliculas</a>
                <a class="dropdown-item" href="/funciones">Funciones</a>
              </div>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/home/acercade"
                routerLinkActive="active"
                >Acerca de</a
              >
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav mr-auto menu-right">
            <li class="nav-item" *ngIf="currentUser != null">
              <a
                class="nav-link"
                routerLink="/user/user-profile"
                routerLinkActive="active"
                ><i class="ion-person"></i> {{ currentUser.user.name }}
              </a>
            </li>
            <li class="nav-item" *ngIf="currentUser == null">
              <a
                class="nav-link"
                routerLink="/user/login"
                routerLinkActive="active"
                ><i class="ion-log-in"></i> Ingresar
              </a>
            </li>
            <li class="nav-item" *ngIf="currentUser != null">
              <a class="nav-link" (click)="logout()" routerLinkActive="active"
                ><i class="ion-log-out"></i>
                Salir
              </a>
            </li>
            <li class="nav-item" *ngIf="currentUser == null">
              <a
                class="nav-link"
                routerLink="/user/sign-in"
                routerLinkActive="active"
                ><i class="ion-person-add"></i> Registrarse</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- <div class="container"> -->
    <!-- top search form -->
    <!-- <div class="top-search">
        <select>
          <option value="united">Películas</option>
          <option value="saab">Others</option>
        </select>
        <input
          type="text"
          placeholder="Search for a movie, TV Show or celebrity that you are looking for"
        />
      </div>-->
    <!-- </div> -->
  </div>
</header>

<script src="/src/js/custom.js"></script>
<script src="/src/jsplugins.js"></script>
<script src="/src/jsplugins2.js"></script>
<script src="/src/jscustom.js"></script>
