<header>
  <nav
    class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top"
  >
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:void(0)">{{ getTitle() }}</a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor01"
        aria-controls="navbarColor01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home" routerLinkActive="active"
              >Inicio
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/peliculas" routerLinkActive="active"
              >Películas
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              ariaspopup="true"
              aria-expanded="false"
            >
              Mantenimientos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/products">Productos</a>
              <a class="dropdown-item" href="/peliculas/lista">Peliculas</a>
              <a class="dropdown-item" href="#">Funciones</a>
            </div>
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/home/acercade"
              routerLinkActive="active"
              >Acerca de</a
            >
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <form class="navbar-form">
          <div class="input-group no-border">
            <input
              type="text"
              value=""
              class="form-control"
              placeholder="Search..."
            />
            <button
              mat-raised-button
              type="submit"
              class="btn btn-white btn-round btn-just-icon"
            >
              <i class="material-icons">search</i>
              <div class="ripple-container"></div>
            </button>
          </div>
        </form>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
              <i class="material-icons">dashboard</i>
              <p>
                <span class="d-lg-none d-md-block">Stats</span>
              </p>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="javascript:void(0)"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="material-icons">notifications</i>
              <span class="notification">5</span>
              <p>
                <span class="d-lg-none d-md-block">Some Actions</span>
              </p>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <a class="dropdown-item" routerLink="/notifications"
                >Notification 1</a
              >
              <a class="dropdown-item" href="javascript:void(0)"
                >Notification 2</a
              >
              <a class="dropdown-item" href="javascript:void(0)"
                >Notification 3</a
              >
              <a class="dropdown-item" href="javascript:void(0)"
                >Notification 4</a
              >
              <a class="dropdown-item" href="javascript:void(0)">Another One</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/login">
              <i class="material-icons">person</i>
              <p>
                <span class="d-lg-none d-md-block">Account</span>
              </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- <header class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top navbar navbar-default navbar-custom">-->
<!-- Brand and toggle get grouped for better mobile display -->
<!-- <div class="navbar-header logo">
        <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <a href="index-2.html"><img class="logo" src="/src/assests/img/logo1.png" alt="" width="119" height="58"></a>
      </div> -->
<!-- Collect the nav links, forms, and other content for toggling -->
<!-- <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav flex-child-menu menu-left">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li class="dropdown first">
            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown">
              Home <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu level1">
              <li><a href="index-2.html">Home 01</a></li>
              <li><a href="homev2.html">Home 02</a></li>
              <li><a href="homev3.html">Home 03</a></li>
            </ul>
          </li>
          <li class="dropdown first">
            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
              peliculas<i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu level1">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">pelicula grid<i
                    class="ion-ios-arrow-forward"></i></a>
                <ul class="dropdown-menu level2">
                  <li><a href="peliculagrid.html">pelicula grid</a></li>
                  <li><a href="peliculagridfw.html">pelicula grid full width</a></li>
                </ul>
              </li>
              <li><a href="peliculalist.html">pelicula list</a></li>
              <li><a href="peliculasingle.html">pelicula single</a></li>
              <li class="it-last"><a href="seriessingle.html">Series single</a></li>
            </ul>
          </li>
          <li class="dropdown first">
            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
              celebrities <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu level1">
              <li><a href="celebritygrid01.html">celebrity grid 01</a></li>
              <li><a href="celebritygrid02.html">celebrity grid 02 </a></li>
              <li><a href="celebritylist.html">celebrity list</a></li>
              <li class="it-last"><a href="celebritysingle.html">celebrity single</a></li>
            </ul>
          </li>
          <li class="dropdown first">
            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
              news <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu level1">
              <li><a href="bloglist.html">blog List</a></li>
              <li><a href="bloggrid.html">blog Grid</a></li>
              <li class="it-last"><a href="blogdetail.html">blog Detail</a></li>
            </ul>
          </li>
          <li class="dropdown first">
            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
              community <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu level1">
              <li><a href="userfavoritegrid.html">user favorite grid</a></li>
              <li><a href="userfavoritelist.html">user favorite list</a></li>
              <li><a href="userprofile.html">user profile</a></li>
              <li class="it-last"><a href="userrate.html">user rate</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav flex-child-menu menu-right">
          <li class="dropdown first">
            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
              pages <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu level1">
              <li><a href="landing.html">Landing</a></li>
              <li><a href="404.html">404 Page</a></li>
              <li class="it-last"><a href="comingsoon.html">Coming soon</a></li>
            </ul>
          </li>
          <li><a href="#">Help</a></li>
          <li class="loginLink"><a href="#">LOG In</a></li>
          <li class="btn signupLink"><a href="#">sign up</a></li>
        </ul>
      </div> -->
<!-- /.navbar-collapse -->
<!-- </nav> -->

<!-- top search form -->

<!-- </div>
</header>
END | Header -->
