<div class="hero common-hero">
  <div class="container">
    <div class="row" style="height: 120px;"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="hero-ct">
          <h1>{{ pageTitle }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-single pelicula_list">
  <div class="container">
    <input type="hidden" formControlName="id" />
    <div class="form-style-1">
      <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
        <p>{{ updateForm.value | json }}</p>
        <div class="row">
          <div class="col-md-10 form-it">
            <label for="nombre"
              >Nombre de la Película
              <input
                type="text"
                class="form-control"
                placeholder="Nombre de la Película"
                formControlName="nombre"
            /></label>
            <small
              class="row alert alert-error"
              *ngIf="errorHandling('nombre', 'required')"
            >
              El nombre de la película es requerido.
            </small>
          </div>
          <div class="col-md-2 form-it">
            <label class="checkbox-container"
              >Habilitada<input
                type="checkbox"
                class="form-control"
                [value]="true"
                formControlName="habilitada"
              /><span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 form-it">
            <label for="classification_id">Clasificación</label>
            <select
              class="fluid dropdown"
              formControlName="classification_id"
              (change)="getSelectClassificationDescr($event)"
            >
              <option
                *ngFor="let clasificacion of clasificaciones"
                [value]="clasificacion.id"
              >
                {{ clasificacion.siglas }}
              </option>
            </select>
          </div>
          <small
            class="row alert alert-error"
            *ngIf="errorHandling('classification_id', 'required')"
          >
            Debe seleccionar una clasificación.
          </small>
          <div class="col-md-6 form-it">
            <label *ngIf="clasificacion_descripcion.length">Descripción</label>
            <p>{{ clasificacion_descripcion }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-it">
            <label for="genders">Géneros</label>
            <div name="genders" id="genders" formArrayName="genders_id">
              <div
                class="col-md-2 form-it"
                *ngFor="let gender of genders_id.controls; index as i"
              >
                <label class="checkbox-container"
                  >{{ generos[i].nombre
                  }}<input
                    type="checkbox"
                    class="form-control"
                    [value]="i"
                    (change)="
                      updateChkbxArray(generos[i].id, $event, 'genders')
                    "
                    [formControlName]="i"
                  /><span class="checkmark"></span>
                </label>
              </div>
            </div>
            <small
              class="row alert alert-error"
              *ngIf="errorHandling('genders', 'required')"
            >
              La película debe estar asociada al menos con un género.
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-it">
            <label
              >Sinopsis
              <input
                type="textarea"
                class="form-control"
                placeholder="Sinopsis"
                formControlName="sinopsis"
            /></label>
            <small
              class="row alert alert-error"
              *ngIf="errorHandling('sinopsis', 'required')"
            >
              Debe agregar una sinopsis a la película.
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-it">
            <label
              >Puntuación
              <input
                type="text"
                class="form-control"
                placeholder="Puntuacion"
                disabled="disabled"
                formControlName="puntuacion"
            /></label>
            <small
              class="row alert alert-error"
              *ngIf="errorHandling('puntuacion', 'required')"
            >
              La puntuación es requerida.
            </small>
            <small
              class="row alert alert-error"
              *ngIf="errorHandling('puntuacion', 'min')"
            >
              La puntuación es mínima es 0.
            </small>
            <small
              class="row alert alert-error"
              *ngIf="errorHandling('puntuacion', 'pattern')"
            >
              La puntuación es dato numérico, máximo 2 decimales.
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-it">
            <label
              >URL de la Imagen
              <input
                type="text"
                class="form-control"
                placeholder="URL imagen"
                formControlName="imagenURL"
            /></label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <button class="redbtn" type="submit">
              Guardar
            </button>
          </div>
          <div class="col-md1"></div>
          <div class="col-md-2">
            <button class="redbtn" type="reset" (click)="onReset()">
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4 col-md-offset-0">
      <div>
        <a href="/peliculas/lista" class="redbtn"
          ><i class="ion-chevron-left"></i>Atrás</a
        >
      </div>
    </div>
  </div>
</div>
<script src="/src/js/custom.js"></script>
<script src="/src/jsplugins.js"></script>
<script src="/src/jsplugins2.js"></script>
<script src="/src/jscustom.js"></script>
