<div class="hero common-hero">
  <div class="container">
    <!-- <div class="row" style="height: 120px;"></div> -->
    <div class="row">
      <div class="col-md-12">
        <div class="hero-ct">
          <h1>{{ pageTitle }}</h1>
          <!-- <ul class="breadcumb">
            <li class="active"><a href="#">Funciones</a></li>
            <li><span class="ion-ios-arrow-right">Cartelera</span></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-single pelicula_list">
  <div class="container">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">Filter by:</div>
        <div class="col-md-4">
          <input type="text" [(ngModel)]="listFilter" />
        </div>
      </div>
      <div class="row" *ngIf="listFilter">
        <div class="col-md-6">
          <h4>Filtered by: {{ listFilter }}</h4>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table" *ngIf="producto && producto.length">
          <thead>
            <tr>
              <th></th>
              <th>Producto</th>
              <th>Tipo</th>
              <th>Clasificaciones</th>
              <th>Descripción</th>
              <th>Tamaño</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of filteredProductos">
              <td>
                <img
                  *ngIf="showImage"
                  [src]="producto.imagenURL"
                  [title]="producto.nombre"
                  [style.width.px]="imageWidth"
                  [style.margin.px]="imageMargin"
                />
              </td>
              <td>
                <a [routerLink]="['/producto', producto.id]">
                  {{ producto.nombre }}
                </a>
              </td>
              <td>{{ producto.product_type.nombre }}</td>
              <td>
                <ul *ngFor="let clasificacion of producto.classifications">
                  <li>{{ clasificacion.nombre }}</li>
                </ul>
              </td>
              <td>{{ producto.descripcion }}</td>
              <td>{{ producto.tamano_presentacion }}</td>
              <td>{{ producto.precio | currency: "CRC":"symbol":"1.2-2" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="error" class="alert alert-danger">Error: {{ error }}</div>
</div>
