<!-- <div class="hero common-hero">
  <div class="container">
    <div class="row" style="height: 120px;"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="hero-ct">
          <h1>Ingreso al Sistema</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-single">
  <div class="container">
    <div class='card-body'>
    <div class="col-md-6 offset-md-3 mt-5" id="loginContainer">
      <div class="alert alert-info">
        Username: test<br />
        Password: test
      </div>
      <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
          <form formGroup="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                name="username"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              />
              <div
                *ngIf="submitted && f.username.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.username.errors.required">
                  Username is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              />
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password.errors.required">
                  Password is required
                </div>
              </div>
            </div>
            <button [disabled]="loading" class="btn btn-primary">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Login
            </button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
              {{ error }}
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<script src="/src/js/custom.js"></script>
<script src="/src/jsplugins.js"></script>
<script src="/src/jsplugins2.js"></script>
<script src="/src/jscustom.js"></script> -->
<!--login form popup-->
<!-- <div class="login-wrapper" id="login-content">
  <div class="login-content">
    <a href="#" class="close">x</a>
    <h3>Login</h3>
    <form method="post" action="#">
      <div class="row">
        <label for="username">
          Username:
          <input type="text" name="username" id="username" placeholder="Hugh Jackman"
            pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
        </label>
      </div>

      <div class="row">
        <label for="password">
          Password:
          <input type="password" name="password" id="password" placeholder="******"
            pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
        </label>
      </div>
      <div class="row">
        <div class="remember">
          <div>
            <input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
          </div>
          <a href="#">Forget password ?</a>
        </div>
      </div>
      <div class="row">
        <button type="submit">Login</button>
      </div>
    </form>
    <div class="row">
      <p>Or via social</p>
      <div class="social-btn-2">
        <a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
        <a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
      </div>
    </div>
  </div>
</div> -->
<!--end of login form popup-->
<!--signup form popup-->
<!--end of signup form popup-->

<div class="hero user-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-ct">
          <h1>Edward kennedy’s profile</h1>
          <ul class="breadcumb">
            <li class="active"><a href="#">Home</a></li>
            <li><span class="ion-ios-arrow-right"></span>Profile</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-single">
  <div class="container">
    <div class="row ipad-width">
      <div class="col-md-3 col-sm-12 col-xs-12"></div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="form-style-1 user-pro" action="#">
          <h3>sign up</h3>
          <form method="post" action="#">
            <div class="row">
              <label for="username-2">
                Username:
                <input
                  type="text"
                  name="username"
                  id="username-2"
                  placeholder="Hugh Jackman"
                  pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$"
                  required="required"
                />
              </label>
            </div>

            <div class="row">
              <label for="email-2">
                your email:
                <input
                  type="password"
                  name="email"
                  id="email-2"
                  placeholder=""
                  pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                  required="required"
                />
              </label>
            </div>
            <div class="row">
              <label for="password-2">
                Password:
                <input
                  type="password"
                  name="password"
                  id="password-2"
                  placeholder=""
                  pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                  required="required"
                />
              </label>
            </div>
            <div class="row">
              <label for="repassword-2">
                re-type Password:
                <input
                  type="password"
                  name="password"
                  id="repassword-2"
                  placeholder=""
                  pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                  required="required"
                />
              </label>
            </div>
            <div class="row">
              <button type="submit" class="redbtn">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/src/js/custom.js"></script>
<script src="/src/jsplugins.js"></script>
<script src="/src/jsplugins2.js"></script>
<script src="/src/jscustom.js"></script>
