<div class="hero user-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-ct">
          <h1>Ingreso al Sistema</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-single">
  <div class="container">
    <div class="row ipad-width">
      <div class="col-md-4 col-sm-12 col-xs-12"></div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="form-style-1 user-pro">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="row container">
              <div class="row col-md-12">
                <label for="email">
                  Usuario:
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="usuario@dominio.any"
                    formControlName="email"
                  />
                </label>
              </div>
              <div class="row col-md-12">
                <small
                  class="row alert alert-error"
                  *ngIf="errorHandling('email', 'required')"
                >
                  El Correo electrónico es requerido.
                </small>
                <small
                  class="row alert alert-error"
                  *ngIf="errorHandling('email', 'email')"
                >
                  Verifique el formato del Correo electrónico.
                </small>
              </div>
              <!--
                                pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                required="required"
                                -->
            </div>
            <div class="row container">
              <div class="row col-md-12">
                <label for="password">
                  Contraseña:
                  <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder=""
                    formControlName="password"
                  />
                </label>
              </div>
              <div class="row col-md-12">
                <small
                  class="row alert alert-error"
                  *ngIf="errorHandling('password', 'required')"
                >
                  La contraseña es requerida.
                </small>
                <!--
                                pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                required="required"
                               -->
              </div>
            </div>
            <div class="row">
              <button type="submit" class="redbtn" (click)="onSubmit()">
                Acceder
              </button>
              <div style="width: 10px;"></div>
              <button type="reset" class="redbtn" (click)="onReset()">
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/src/js/custom.js"></script>
<script src="/src/jsplugins.js"></script>
<script src="/src/jsplugins2.js"></script>
<script src="/src/jscustom.js"></script>
