<div class="hero common-hero">
  <div class="container">
    <div class="row" style="height: 120px;"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="hero-ct">
          <h1>{{ pageTitle + ": " + pelicula.nombre }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-single pelicula_list">
  <div class="container">
    <div class="pelicula-item-style-2" *ngIf="pelicula">
      <div class="card-header"></div>
      <div class="container">
        <div class="pelicula-item">
          <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
              <div class="title-in">
                <div class="cate" *ngFor="let generos of pelicula.genders">
                  <span [class]="generos.color"
                    ><a href="#">{{ generos.nombre }}</a></span
                  >
                </div>
                <h1>
                  <a href="#">{{ pelicula.nombre }}<br /></a>
                </h1>
                <div class="mv-details">
                  <pm-star [rating]="pelicula.puntuacion"
                    >{{ pelicula.puntuacion }}
                  </pm-star>
                  <ul class="mv-infor">
                    <li>Duración: 2h21’</li>
                    <li>Clasificación: {{ pelicula.classification.siglas }}</li>
                    <li>
                      Sinopsis:
                      <p class="describe">{{ pelicula.sinopsis }}</p>
                    </li>
                    <li>Habilitada: {{ pelicula.habilitada }}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="mv-img-2">
                <a href="#"
                  ><img
                    class="center-block img-responsive"
                    [style.width.px]="200"
                    [style.margin.px]="2"
                    [src]="pelicula.imagenURL"
                    [title]="pelicula.nombre"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-transform transform-vertical">
          <div>
            <a href="/peliculas/lista" class="item item-1 redbtn">Atrás</a>
          </div>
          <div>
            <a href="/peliculas/lista" class="item item-2 redbtn hvrbtn"
              >Atrás</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/src/js/custom.js"></script>
<script src="/src/jsplugins.js"></script>
<script src="/src/jsplugins2.js"></script>
<script src="/src/jscustom.js"></script>
